<ion-view view-title="Biologia">
  <ion-content class="padding">
    <br>
    <center><h4>videos</h4></center>
      <div class="row fondoa">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/DqSrZaXVSx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

     
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qd5yA3UiQ2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
     
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N2vbhD7Mjso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wGbMLlZxX_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X4cC5T72rlA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    
 
      <br>
      <div class="row fondoa">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eFnO2xMmuYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 
    <center><h2>Infografia</h2></center>
    <center><h4>Leyes de Mendel</h4></center>
    <center><img src="img/mendel1.png"></center>
     <p>Las leyes de Mendel (en conjunto conocidas como genética mendeliana) son el conjunto de reglas básicas sobre la transmisión por herencia genética de las características de los organismos padres a sus hijos.</p>
     <center><img src="img/mendel2.jpg"></center>
     <p>Mendel publicó sus experimentos con guisantes en 1865 y 1866. A continuación se describen las principales ventajas de la elección de Pisum sativum como organismo modelo: su bajo coste, tiempo de generación corto, elevado índice de descendencia, diversas variedades dentro de la misma especie (color, forma, tamaño, entre otros.).</p>
     <center><h2>Arbol Genealogico</h2></center>
    <center><h2>Sindrome de Down</h2></center>
    <p>Síndrome de Down
21 trisomy - Down syndrome.png
Clasificación y recursos externos
Especialidad  Genética médica
CIE-10  Q90
CIE-9 758.0
CIAP-2  A90
OMIM  190685
DiseasesDB  3898
MedlinePlus 000997
eMedicine ped/615
MeSH  D004314
Sinónimos
Enfermedad de Down
Síndrome de trisomía 21
Trisomía 21
Wikipedia no es un consultorio médico Aviso médico 
[editar datos en Wikidata]
El síndrome de Down (SD) es un trastorno genético causado por la presencia de una copia extra del cromosoma 21 (o una parte del mismo), en vez de los dos habituales, por ello se denomina también trisomía del par 21. Se caracteriza por la presencia de un grado variable de discapacidad cognitiva y unos rasgos físicos peculiares que le dan un aspecto reconocible. </p>
  <center><img src="img/valve.gif"></center>
  <center><h2>Collage</h2></center>
  <center><img src="img/collage.jpg"></center>
  </ion-content>
</ion-view>
